@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour au site de vol de l'aéroport de YUL.</h1>
    <h1 class="display-4">C'est un plaisir de vous acceuillir.</h1>
    <p>Selectionnez l'onglet vols pour afficher les vols et leur états et événement pour voir les évnements qui lui sont associé'</p>
</div>
